<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<head>
  <title>Beacon Manager Interface</title>
  <link rel="icon" href="beacon.svg">
  <link rel="stylesheet" href="../../beacon_interface/beacon-manager-front.css">
</head>

<body>
  <div id="app">
    <div id="device-management" :class="deviceStyleCss">
      <h3>Device Management</h3>
    </div>
    <button @click="showEverything">Show everything</button>
    <button @click="hideEverything" :class="{ hidden: isHidden}">Hide everything</button>
    <div id="beacon-management" :class="{ hidden: isHidden}" style="background-color: #909090;">
      <h3>Beacon Management</h3>
      <div>
        <button @click="initializeBeaconManager">Initialize Beacon Manager</button>
      </div>
      <div>
        <button @click="changeToTransparent">Change mode to Transparent</button>
      </div>
      <div>
        <button @click="stopBeacon">Change mode to Stopped</button>
      </div>
      <div>
        <button @click="resetBeacon">Reset Beacon</button>
      </div>
    </div>
    <div id="transaction-management" :class="{ hidden: isHidden}" style="background-color: #909090;">
      <h3>Transaction Management</h3>
      <div>
        <button @click="startTransactionLoop">Start Transaction Loop</button>
      </div>
      <div>
        <button @click="stopTransactionLoop">Stop Transaction Loop</button>
      </div>
      <div>
        <button @click="initializeAndCloseTransaction">Initialize and close transaction</button>
      </div>
      <div>
        <button @click="initializeTransaction">Initialize transaction</button>
      </div>
      <div>
        <button @click="closeTransaction">Close transaction</button>
      </div>
    </div>
    <div id="beacon-state" :class="{ hidden: isHidden}" style="background-color: #60FF60;">
      <h3>Beacon State</h3>
      <button @click="getBeaconState">Update/Get beacon's state</button>
      <div id="beacon-state" style="margin: 1em; border:0.2em solid black;">
        <div>
          <p>Beacon is stopped!</p>
        </div>
        <div>
          <p>Beacon is in transparent mode!</p>
        </div>
        <div>
          <p>Transaction in Progress!</p>
          <button @click="closeTransaction">Close Transaction</button> <!-- Add this button -->
          <div>
            <button @click="efcGet">GET</button>
            <button @click="efcSet">SET</button>
            <button @click="efcAction">ACTION</button>
          </div>
        </div>
        <div>
          <h3>EFC Transaction</h3>
          <select v-model="toll_charger">
            <option v-for="charger in toll_chargers" :value="charger">{{ charger }}</option>
          </select>
          <select v-model="transaction_type">
            <option v-for="type in transaction_types" :value="type">{{ type }}</option>
          </select>
          <button @click="executeTransaction">Execute transaction</button>
        </div>
      </div>
    </div>
    <div id="transaction-state" :class="{ hidden: isHidden}" style="background-color: #8888FF;">
      <h3>Last VST</h3>
      <div style="margin: 1em; border:0.2em solid black;">
        <div id="vst-data" v-text="last_vst">
          {{ last_vst }}
        </div>
    </div>
    <div>
      <h3>Beacon State</h3>
      <p>{{ beacon_state }}</p>
    </div>
  </div>
  </div>
  <script type="module">
  import { createApp } from 'vue'
  import BeaconFrontendApp from '../beacon_interface/beacon-manager-front.js'
  
  createApp(BeaconFrontendApp).mount('#app')
  </script>
</body>