<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EFC Types Decoding Interface</title>
    <meta charset="utf-8">
    <meta name="description" content="Internal Axxès UAT tests">
    <meta name="keywords" content="uat, testing">
    <link rel="icon" href="security.png">
    <script>
      async function per_to_jer(uper_encoded_efc_obj_hex_str){
        const decoding_request = new Request("/decoding/per2jer", {
          method: "POST",
          body: uper_encoded_efc_obj_hex_str,
        });
        return await fetch(decoding_request)
          .then((response) => response.json())
          .then((jer_encoded_efc_json) => {
            return jer_encoded_efc_json
          });
      }
      async function get_decoding(){
        input = document.getElementById("input zone").querySelector("input").value
        output = await per_to_jer(input)
        console.log(output)

        document.getElementById("JER-decoded value").textContent = JSON.stringify(output, null, 2)
      }
    </script>
  </head>
  <body>
    <div id="input zone">
      <input></input>
      <button onclick="get_decoding()">Send</button>
    </div>
    <div id="decoding zone">
      <p>JER-decoded value:</p>
      <pre id="JER-decoded value"></pre>
    </div>
  </body>
</html>